// Адаптив до 1200px
@media (max-width: 1200px)
  .container
    max-width: 960px

  // Слайдер
  .hotel
    &-slider
      width: 590px
      &__image
        object-fit: cover
        width: 100%
        height: 100%

  .card
    width: 230px
    height: 230px

  .footer
    &__input
      flex-basis: 100%

// Адаптив до 992px
@media (max-width: 992px)
  .container
    max-width: 700px

  // Логотип
  .logo
    width: 132px

  // Верхнее меню
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px

    &-battom
      &__container
        max-width: 673px

  // Строка поиска
  .search
    &__input
      width: 340px

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    &-grid
      flex-direction: column
    // Слайдер
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  // Блок бронирования
  .booking
    width: 340px
  // Гео карта
  .map
    width: 340px

  // Секция с пакетами
  .packages
    &__title
      font-size: 30px
      line-height: 38px
    &-wrapper
      grid-template-columns: repeat(2,minmax(min-content, 350px))

  // Секция с подпиской
  .newslatter
    padding: 92px 0 92px 0
    &-wrapper
      max-width: 700px

  // Секция с отзывами
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
        padding: 0 62px 30px

  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px

  .card
    width: 340px
    height: 255px

  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(5, minmax(min-content, 1fr))
      grid-gap: 40px
      margin-bottom: 56px
    &__logo
      grid-row: 1 / 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 1
    &__legal
      grid-column: span 2
    &__information
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 4
    &__input
      flex-basis: 49%

  .modal
    &__dialog
      padding: 33px 56px

// Адаптив до 768px
@media (max-width:768px)
  .container
    max-width: 576px
    width: 86%
  body
    padding-top: 78px

  // Нижнее меню
  .navbar
    &-menu
      padding: 0

    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99

    &__search, &__user
      &--mobile
        &--hidden
          display: none

    &__search, &__user
      &--mobile
        &--visible
          display: flex

    &__search
      margin: 27px 0 39px 0

    &-battom
      display: none
      position: fixed
      right: 0
      left: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      overflow-y: auto
      &--visible
        display: block

    &-menu
      flex-direction: column
      align-items: center
      &__link
        margin-bottom: 20px

    .user
      flex-direction: column
      justify-content: center
      &__name
        &--light
          margin: 10px 0 0 0
          color: $light

  // Модальная кнопка
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  // Информация об отеле
  .hotel
    padding-top: 8px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 95%
      &__name
        margin-top: 10px
      &__ratting
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .stars
    flex-basis: content

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    // Слайдер
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px

  // Блок бронирования
  .booking
    width: 100%
  // Гео карта
  .map
    width: 100%

  // Секция с пакетами
  .packages
    &-wrapper
      grid-template-columns: minmax(min-content, 1fr)
  .packet
    justify-content: flex-end
    background-color: rgba(0, 0, 0, 0)
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #00479e 99.85%)
      z-index: -1
    &:first-child
      grid-column: span 1
    &__image
      position: absolute
      right: 0
      left: 0
      top: 0
      bottom: 0
      width: 100%
      height: 100%
      object-fit: cover
      z-index: -2
    &__offer
      padding: 8px 12px
      font-size: 12px
    &__info
      display: flex
      flex-direction: column
      justify-content: space-between
    &__price
      align-items: center
    &__button
      padding-top: 10px
      padding-bottom: 10px
  .other
    &-packet
      &__rating
        display: none
      &__info
        justify-content: flex-end
        padding: 30px 21px 30px 21px
        width: 100%
      &__image
        height: auto
      &__description
        display: none

  // Секция с подпиской
  .newslatter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 86%
      flex-direction: column
      align-items: flex-start
    &__title
      padding-bottom: 37px
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
    .subscribe
      width: 100%

  // Секция с отзывами
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -75px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -75px

  .card
    width: 49%
    height: 255px

  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr))
      grid-gap: 30px
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
    &__social
      &-network
        grid-row: 2
        grid-column: span 2
        flex-direction: column
      &-links
        margin-top: 20px
    &__legal
      grid-row: 3
      grid-column: span 2
      justify-self: start
    &__information
      grid-row: 4
      grid-column: span 2
    &__categories
      grid-row: 5
      grid-column: span 2
    &__contact
      &-details
        grid-row: 6
        grid-column: span 3
      &-form
        grid-row: 7
        grid-column: span 3
    &__info
      &-pay
        width: auto
        flex-direction: column
        height: 50px
    &__wrapper
      &-info
        justify-content: start

  .modal
    &__dialog
      padding: 33px 40px
    &__form
      flex-direction: column
      align-items: start
    &__input
      min-width: 300px
    &__button
      order: 1
      margin-top: 15px
    &__info
      width: 100%

// Адаптив до 576px
@media (max-width: 576px)
  // Логотип
  .logo
    max-width: 99px

  // Слайдер
  .hotel
    &__slider
      margin-bottom: 20px
      height: 270px

  // Секция с пакетами
  .packages
    &__title
      font-size: 18px
      line-height: 23px

  // Секция с отзывами
  .reviews
    padding-bottom: 50px
    &-slider
      &__text
        text-align: left

  .activities
    &__title
      font-size: 18px

  .card
    width: 100%
    height: 255px

  .footer
    &-wrapper
      grid-template-columns: minmax(min-content, 1fr)
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__information
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      flex-basis: 100%

// Адаптив до 480px
@media (max-width: 480px)
  .navbar
    &__search
      width: 243px
  .hotel
    &-slider
      height: 200px
      &__button
        width: 12px
        height: 12px

  .footer
    &-wrapper
      grid-template-columns: minmax(280px, max-content)
    &__form
      flex-direction: column
      align-items: start
    &__input
      padding-top: 18px
      padding-bottom: 18px
      width: 100%
    &__message
      width: 100%
      margin-bottom: 15px
    &__button
      order: 1
      margin-top: 15px

  .modal
    &__input
      min-width: 230px
