@media (min-width: 992px)

  .button--hover
    transition: all 500ms ease
    &:hover
      background: $sacondary
      color: $primary
      box-shadow: inset 0 0 0 2px $primary
  .search__button
    &:hover
      background: #be5669
      box-shadow: inset 0 0 0 2px #be5669

  .hover-effect
    position: relative
    &:after
      content: ""
      display: block
      position: absolute
      right: 0
      bottom: -3px
      width: 0
      height: 2px
      background-color: $sacondary
      transition: width 0.5s
    &--black::after
      background-color: black
    &:hover:after
      content: ""
      width: 100%
      display: block
      position: absolute
      left: 0
      bottom: -3px
      height: 2px
      background-color: red
      transition: width 0.5s

// Адаптив до 1200px
@media (max-width: 1200px)
  .container
    max-width: 960px

  // Слайдер
  .hotel
    &-slider
      width: 590px
      &__image
        object-fit: cover
        width: 100%
        height: 100%

  .card
    width: 230px
    height: 230px

  .footer
    &__input
      &-group
        flex-basis: 100%
        &-wrapper
          flex-direction: column

// Адаптив до 992px
@media (max-width: 992px)
  .container
    max-width: 700px

  // Логотип
  .logo
    width: 132px

  // Верхнее меню
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px

    &-battom
      &__container
        max-width: 673px

  // Строка поиска
  .search
    &__input
      width: 340px

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    &-grid
      flex-direction: column
    // Слайдер
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  // Блок бронирования
  .booking
    width: 340px
    padding: 28px 22px 28px 22px
  // Гео карта
  .map
    width: 340px

  // Секция с пакетами
  .packages
    &__title
      font-size: 30px
      line-height: 38px
    &-wrapper
      grid-template-columns: repeat(2,minmax(min-content, 350px))

  // Секция с подпиской
  .newslatter
    padding: 92px 0 92px 0
    &-wrapper
      max-width: 700px

  // Секция с отзывами
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
        padding: 0 62px 30px
      &__button
        top: 50%
        &--next
          right: 0
        &--prev
          left: 0

  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      max-width: 200px

  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(5, minmax(min-content, 1fr))
      grid-gap: 42px
      margin-bottom: 56px
      column-gap: 49px
    &__title
      &--mb
        &-3
          margin-bottom: 34px
      &--mt-1
        margin-top: 24px
        margin-bottom: 21px
    &__logo
      grid-row: 1 / 2
      width: 95px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -15px
    &__categories
      grid-row: 2 / 3
      grid-column: span 1
    &__legal
      grid-column: span 2
      margin-left: 0
    &__information
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 4
    &__icon
      &-wrapper
        transform: translateY(28%)
    &__input
      &-group
        flex-basis: 47%
        &-wrapper
          flex-direction: row

  .modal
    &__dialog
      padding: 33px 56px

// Адаптив до 768px
@media (max-width:767px)
  .container
    max-width: 576px
    width: 86%
  body
    padding-top: 70px

  // Нижнее меню
  .navbar
    &-top
      padding: 23px 0 28px 0
    &-menu
      padding: 0

    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99

    &__search, &__user
      &--mobile
        &--hidden
          display: none

    &__search, &__user
      &--mobile
        &--visible
          display: flex

    &__search
      margin: 27px 0 39px 0

    &-battom
      display: none
      position: fixed
      right: 0
      left: 0
      bottom: 0
      top: 70px
      padding-top: 30px
      overflow-y: auto
      &--visible
        display: block

    &-menu
      flex-direction: column
      align-items: center
      &__link
        margin-bottom: 20px

    .user
      flex-direction: column
      justify-content: center
      &__name
        &--light
          margin: 10px 0 0 0
          color: $light

  // Модальная кнопка
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  // Информация об отеле
  .hotel
    padding-top: 8px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 95%
      &__name
        margin-top: 10px
      &__ratting
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .stars
    flex-basis: content

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    padding-bottom: 60px
    // Слайдер
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px

  // Блок бронирования
  .booking
    width: 100%
  // Гео карта
  .map
    width: 100%

  // Секция с пакетами
  .packages
    &-wrapper
      grid-template-columns: minmax(min-content, 1fr)
    &__title
      font-size: 18px
      line-height: 23px
  .packet
    justify-content: flex-end
    background-color: rgba(0, 0, 0, 0)
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #00479e 99.85%)
      z-index: -1
    &:first-child
      grid-column: span 1
    &__image
      position: absolute
      right: 0
      left: 0
      top: 0
      bottom: 0
      width: 100%
      height: 100%
      object-fit: cover
      z-index: -2
    &__offer
      padding: 8px 23px 7px 11px
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 15px
    &__info
      display: flex
      flex-direction: column
      justify-content: space-between
    &__price
      align-items: center
    &__button
      padding-top: 10px
      padding-bottom: 10px
  .other
    &-packet
      &__rating
        display: none
      &__info
        justify-content: flex-end
        padding: 30px 21px 30px 21px
        width: 100%
      &__image
        height: auto
      &__description
        display: none

  // Секция с подпиской
  .newslatter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 86%
      flex-direction: column
      align-items: flex-start
    &__title
      padding-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
    .subscribe
      width: 100%
      &__input
        padding-left: 20px

  // Секция с отзывами
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 29px 36px
        &:after, &:before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -93px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -87px

  .activities
    padding-top: 33px
    padding-bottom: 60px
    &__title
      margin-bottom: 35px
    &__card:last-child
      margin-bottom: 0
  .card
    width: 49%
    height: 255px

  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr))
      grid-gap: 27px
      margin-bottom: 30px
    &__title
      &--mt-1
        margin-top: 0
      &--mb-3
        margin-bottom: 15px
        margin-top: 10px
    &__ul--pd-7
      padding-left: 0
    &__icon-wrapper
      min-width: 26px
    &__text
      margin-bottom: 26px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
    &__social
      &-network
        grid-row: 2
        grid-column: span 2
        flex-direction: column
        margin-left: 0
      &-links
        margin-top: 20px
    &__legal
      grid-row: 3
      grid-column: span 2
      justify-self: start
    &__information
      grid-row: 4
      grid-column: span 2
    &__categories
      grid-row: 5
      grid-column: span 2
    &__contact
      &-details
        grid-row: 6
        grid-column: span 3
      &-form
        grid-row: 7
        grid-column: span 3
    &__info
      &-pay
        min-width: 272px
        flex-direction: column
        height: 50px
    &__conditions
      min-width: 272px
    &__wrapper
      &-info
        justify-content: start

  .modal
    &__dialog
      padding: 33px 40px
    &__form
      flex-direction: column
      align-items: start
    &__input
      min-width: 300px
    &__button
      order: 1
      margin-top: 15px
    &__info
      width: 100%

// Адаптив до 576px
@media (max-width: 576px)
  // Логотип
  .logo
    max-width: 99px

  // Слайдер
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
      height: 270px

  // Секция с пакетами
  .packages
    &-wrapper
      margin-top: 40px
    &__title
      font-size: 18px
      line-height: 23px

  // Секция с отзывами
  .reviews
    padding-bottom: 45px
    &__title
      margin-bottom: 42px
    &-slider
      &__text
        text-align: left

  .activities
    padding-top: 39px
    &__title
      font-size: 18px
    &__card
      &--order
        &-1
          order: 1
          margin-bottom: 28px
        &-2
          order: 2
        &-3
          order: 3

  .card
    width: 100%
    height: 255px

  .footer
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: minmax(min-content, 1fr)
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 93px
    &__social
      &-network
        margin-top: 13px
        grid-row: 2
        grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__information
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      &-group
        flex-basis: 100%
        &-wrapper

// Адаптив до 480px
@media (max-width: 480px)
  .navbar
    &__search
      width: 243px
  .hotel
    &-grid
      padding-top: 18px
    &-slider
      height: 176px
      &__button
        width: 12px
        height: 12px

  .footer
    &-wrapper
      grid-template-columns: minmax(280px, max-content)
    &__form
      flex-direction: column
      align-items: start
    &__icon
      &-wrapper
        transform: translateY(15%)
    &__input
      padding-top: 18px
      padding-bottom: 18px
      &-group
        width: 100%
    &__message
      width: 100%
      margin-bottom: 15px
    &__button
      order: 1
      margin-top: 15px

  .modal
    &__input
      min-width: 230px
