// Адаптив до 1200px
@media (max-width: 1200px)
  .container
    max-width: 960px

  // Слайдер
  .swiper
    width: 590px
  .swiper
    &-slide
      &__image
        object-fit: cover
        width: 100%
        height: 100%

// Адаптив до 992px
@media (max-width: 992px)
  .container
    max-width: 700px

  // Логотип
  .logo
    width: 132px

  // Верхнее меню
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        font-height: 15px

    &-battom
      &__container
        max-width: 673px

  // Строка поиска
  .search
    &__input
      width: 340px

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    &-grid
      flex-direction: column
    // Слайдер
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .swiper
    width: 100%
  // Блок бронирования
  .booking
    width: 340px
  // Гео карта
  .map
    width: 340px

  // Секция с подпиской
  .newslatter
    padding: 92px 0 92px 0
    &-wrapper
      max-width: 700px

// Адаптив до 768px
@media (max-width:768px)
  .container
    max-width: 576px
    width: 86%

  // Нижнее меню
  .navbar
    &__search, &-menu, &__user
      display: none

  // Модальнаяа кнопка
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  // Информация об отеле
  .hotel
    padding-top: 8px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 95%
      &__name
        margin-top: 10px
      &__ratting
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .stars
    flex-basis: content

  // Блок слайдера и блок бронирования и гео карты
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  // Слайдер
  .swiper
    height: 350px
  // Блок бронирования
  .booking
    width: 100%
  // Гео карта
  .map
    width: 100%

  // Секция с подпиской
  .newslatter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 86%
      flex-direction: column
      align-items: flex-start
    &__title
      padding-bottom: 37px
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
    .subscribe
      width: 100%

// Адаптив до 576px
@media (max-width: 576px)
  // Логотип
  .logo
    max-width: 99px
  // Слайдер
  .swiper
    height: 270px
  .hotel
    &__slider
      margin-bottom: 20px

// Адаптив до 480px
@media (max-width: 480px)
  .swiper
    height: 179px
    &-button
      width: 12px
      height: 12px
